# MONGODB_URI: Connection string for MongoDB Atlas.
MONGODB_URI="mongodb+srv://davex-db:DavexDbpassWord.com#7@davex.igh0zu5.mongodb.net/?appName=DAVEX"

# JWT_SECRET: Secret key for signing JWT tokens.
JWT_SECRET="super-secret-key-change-this-in-production"
